
*{
  margin: 0;
  padding: 0 ;
  box-sizing:  border-box;
  text-decoration:  none;
}

body{
  font-size: 100%;
  
}

.div{
  max-width: 400px;
  margin: auto ;
  align-items: center;
  display: flex;
  flex-direction: column;            
  
}
.div.label{
  width: auto;
}
label{
  width: 100px;
  margin: auto;
  padding: 5px;  
}

input{
  width: 100px;
  margin: auto;
  padding: auto;  
}
.subdiv{
  max-width: 400px;
  
  margin: auto;
  display: flex;
  flex-direction: row;            
}
h1 {
  text-align: center;
}

.botao {
  margin-top: 20px;
  background-color: #0da827;    
  color: #2F2325;
  width: 100px;
  height: 30px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;

}

.botao:hover {
background-color: rgba(0, 143, 76, 0.53);
}
